<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragements.html :: head"></head>
<body class="bg-light">
<nav th:replace="fragements.html :: main-nav"></nav>
<div th:replace="fragements.html :: hobby-banner"></div>
<div class="container">
    <div th:replace="fragements.html :: event-form (mode='new', action='/hobby/' + ${hobby.path} + '/new-event/')"></div>
    <div th:replace="fragements.html :: footer"></div>
</div>
<script th:replace="fragements.html :: form-validation"></script>
<script th:replace="fragements.html :: editor-script"></script>
</body>
</html>