<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragements.html :: head"></head>
<body>
<nav th:replace="fragements.html :: main-nav"></nav>
<div th:replace="fragements.html :: hobby-banner"></div>
<div class="container">
    <div th:replace="fragements.html :: hobby-info"></div>
    <div th:replace="fragements.html :: hobby-menu(hobbyMenu='settings')"></div>
    <div class="row mt-3 justify-content-center">
        <div class="col-2">
            <div th:replace="fragements.html :: hobby-settings-menu(currentMenu='description')"></div>
        </div>
        <div class="col-8">
            <div th:replace="fragements.html :: message"></div>
            <form class="needs-validation" th:action="@{'/hobby/' + ${hobby.getPath()} + '/settings/description'}"
                  th:object="${hobbyDescriptionForm}" method="post" novalidate>
                <div class="form-group">
                    <label for="shortDescription">짧은 소개</label>
                    <textarea id="shortDescription" type="textarea" th:field="*{shortDescription}" class="form-control"
                              placeholder="Hobby를 짧게 소개해 주세요." aria-describedby="shortDescriptionHelp" required maxlength="100">
                        </textarea>
                    <small id="shortDescriptionHelp" class="form-text text-muted">
                        100자 이내로 Hobby를 짧은 소개해 주세요.
                    </small>
                    <small class="invalid-feedback">짧은 소개를 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('shortDescription')}" th:errors="*{shortDescription}">ShortDescription Error</small>
                </div>

                <div class="form-group">
                    <label for="fullDescription">상세 소개</label>
                    <textarea id="fullDescription" type="textarea" th:field="*{fullDescription}" class="editor form-control"
                              placeholder="Hobby를 자세히 설명해 주세요." aria-describedby="fullDescriptionHelp" required></textarea>
                    <small id="fullDescriptionHelp" class="form-text text-muted">
                        Hobby의 목표, 일정, 진행 방식, 사용할 교재 또는 인터넷 강좌 그리고 모집중인 Hobby원 등 Hobby에 대해 자세히 적어 주세요.
                    </small>
                    <small class="invalid-feedback">상세 소개를 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('fullDescription')}" th:errors="*{fullDescription}">FullDescription Error</small>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit"
                            aria-describedby="submitHelp">수정하기</button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="fragements.html :: footer"></div>
</div>
<!--<script th:replace="fragements.html :: tooltip"></script>-->
<script type="application/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script th:replace="fragements.html :: form-validation"></script>
<script th:replace="fragements.html :: editor-script"></script>
</body>
</html>