<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragements.html :: head"></head>
<body>
<nav th:replace="fragements.html :: main-nav"></nav>
<div th:replace="fragements.html :: hobby-banner"></div>
<div class="container">
    <div th:replace="fragements.html :: hobby-info"></div>
    <div th:replace="fragements.html :: hobby-menu(hobbyMenu='settings')"></div>
    <div class="row mt-3 justify-content-center">
        <div class="col-2">
            <div th:replace="fragements.html :: hobby-settings-menu(currentMenu='hobby')"></div>
        </div>
        <div class="col-8">
            <div th:replace="fragements.html :: message"></div>
            <div class="row">
                <h5 class="col-sm-12">Hobby 공개 및 종료</h5>
                <form th:if="${!hobby.published && !hobby.closed}" class="col-sm-12" action="#" th:action="@{'/hobby/' + ${hobby.getPath()} + '/settings/hobby/publish'}" method="post" novalidate>
                    <div class="alert alert-info" role="alert">
                        Hobby를 다른 사용자에게 공개할 준비가 되었다면 버튼을 클릭하세요.<br/>
                        소개, 배너 이미지, Hobby 주제 및 활동 지역을 등록했는지 확인하세요.<br/>
                        Hobby를 공개하면 주요 활동 지역과 Hobby 주제에 관심있는 다른 사용자에게 알림을 전송합니다.
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">Hobby 공개</button>
                    </div>
                </form>
                <form th:if="${hobby.published && !hobby.closed}" class="col-sm-12" action="#" th:action="@{'/hobby/' + ${hobby.getPath()} + '/settings/hobby/close'}" method="post" novalidate>
                    <div class="alert alert-warning" role="alert">
                        Hobby 활동을 마쳤다면 Hobby를 종료하세요.<br/>
                        Hobby를 종료하면 더이상 팀원을 모집하거나 모임을 만들 수 없으며, Hobby 경로와 이름을 수정할 수 없습니다.<br/>
                        Hobby 모임과 참여한 팀원의 기록은 그대로 보관합니다.
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-warning" type="submit" aria-describedby="submitHelp">Hobby 종료</button>
                    </div>
                </form>
                <div th:if="${hobby.closed}" class="col-sm-12 alert alert-info">
                    이 Hobby는 <span class="date-time" th:text="${hobby.closedDateTime}"></span>에 종료됐습니다.<br/>
                    다시 Hobby를 진행하고 싶다면 새로운 Hobby를 만드세요.<br/>
                </div>
            </div>

            <hr th:if="${!hobby.closed && !hobby.recruiting && hobby.published}"/>
            <div class="row" th:if="${!hobby.closed && !hobby.recruiting && hobby.published}">
                <h5 class="col-sm-12">팀원 모집</h5>
                <form class="col-sm-12" action="#" th:action="@{'/hobby/' + ${hobby.getPath()} + '/settings/recruit/start'}" method="post" novalidate>
                    <div class="alert alert-info" role="alert">
                        팀원을 모집합니다.<br/>
                        충분한 Hobby 팀원을 모집했다면 모집을 멈출 수 있습니다.<br/>
                        팀원 모집 정보는 1시간에 한번만 바꿀 수 있습니다.
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">팀원 모집 시작</button>
                    </div>
                </form>
            </div>

            <hr th:if="${!hobby.closed && hobby.recruiting && hobby.published}"/>
            <div class="row" th:if="${!hobby.closed && hobby.recruiting && hobby.published}">
                <h5 class="col-sm-12">팀원 모집</h5>
                <form class="col-sm-12" action="#" th:action="@{'/hobby/' + ${hobby.getPath()} + '/settings/recruit/stop'}" method="post" novalidate>
                    <div class="alert alert-primary" role="alert">
                        팀원 모집을 중답합니다.<br/>
                        팀원 충원이 필요할 때 다시 팀원 모집을 시작할 수 있습니다.<br/>
                        팀원 모집 정보는 1시간에 한번만 바꿀 수 있습니다.
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">팀원 모집 중단</button>
                    </div>
                </form>
            </div>

            <hr th:if="${!hobby.closed}"/>
            <div class="row" th:if="${!hobby.closed}">
                <h5 class="col-sm-12">Hobby 경로</h5>
                <form class="col-sm-12 needs-validation" action="#" th:action="@{'/hobby/' + ${hobby.path} + '/settings/hobby/path'}" method="post" novalidate>
                    <div class="alert alert-warning" role="alert">
                        Hobby 경로를 수정하면 이전에 사용하던 경로로 Hobby에 접근할 수 없으니 주의하세요. <br/>
                    </div>
                    <div class="form-group">
                        <input id="path" type="text" name="newPath" th:value="${hobby.path}" class="form-control"
                               placeholder="예) hobby-path" aria-describedby="pathHelp" required>
                        <small id="pathHelp" class="form-text text-muted">
                            공백없이 문자, 숫자, 대시(-)와 언더바(_)만 3자 이상 20자 이내로 입력하세요. Hobby 홈 주소에 사용합니다. 예) /hobby/<b>hobby-path</b>
                        </small>
                        <small class="invalid-feedback">Hobby 경로를 입력하세요.</small>
                        <small class="form-text text-danger" th:if="${hobbyPathError}" th:text="${hobbyPathError}">Path Error</small>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-warning" type="submit" aria-describedby="submitHelp">경로 수정</button>
                    </div>
                </form>
            </div>

            <hr th:if="${!hobby.closed}"/>
            <div class="row" th:if="${!hobby.closed}">
                <h5 class="col-12">Hobby 이름</h5>
                <form class="needs-validation col-12" action="#" th:action="@{'/hobby/' + ${hobby.path} + '/settings/hobby/title'}" method="post" novalidate>
                    <div class="alert alert-warning" role="alert">
                        Hobby 이름을 수정합니다.<br/>
                    </div>
                    <div class="form-group">
                        <label for="title">Hobby 이름</label>
                        <input id="title" type="text" name="newTitle" th:value="${hobby.title}" class="form-control"
                               placeholder="Hobby 이름" aria-describedby="titleHelp" required maxlength="50">
                        <small id="titleHelp" class="form-text text-muted">
                            Hobby 이름을 50자 이내로 입력하세요.
                        </small>
                        <small class="invalid-feedback">Hobby 이름을 입력하세요.</small>
                        <small class="form-text text-danger" th:if="${hobbyTitleError}" th:text="${hobbyTitleError}">Title Error</small>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-warning" type="submit" aria-describedby="submitHelp">Hobby 이름 수정</button>
                    </div>
                </form>
            </div>

            <hr/>
            <div class="row">
                <h5 class="col-sm-12 text-danger">Hobby 삭제</h5>
                <form class="col-sm-12" action="#" th:action="@{'/hobby/' + ${hobby.getPath()} + '/settings/hobby/remove'}" method="post" novalidate>
                    <div class="alert alert-danger" role="alert">
                        Hobby를 삭제하면 Hobby 관련 모든 기록을 삭제하며 복구할 수 없습니다. <br/>
                        <b>다음에 해당하는 Hobby는 자동으로 삭제 됩니다.</b>
                        <ul>
                            <li>만든지 1주일이 지난 비공개 Hobby</li>
                            <li>Hobby 공개 이후, 한달 동안 모임을 만들지 않은 Hobby</li>
                            <li>Hobby 공개 이후, 모임을 만들지 않고 종료한 Hobby</li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-danger" type="submit" aria-describedby="submitHelp">Hobby 삭제</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragements.html :: footer"></div>
</div>
<script th:replace="fragements.html :: tooltip"></script>
<script th:replace="fragements.html :: form-validation"></script>
</body>
</html> 